*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
*.apk
/app/src/main/java/com/nectarmicrosystems/me/android/config/Sensitive.java
/.env
