<?xml version="1.0" encoding="utf-8"?>

<!--
  -  Copyright 2017 Oluwatobi Adeyinka
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tobiadeyinka.me">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".android.modules.main.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".android.modules.main.activities.PasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".android.modules.main.activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity 
            android:name=".android.modules.main.activities.SettingsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity 
            android:name="com.tobiadeyinka.me.android.modules.password_manager.activities.NewSitePasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tobiadeyinka.me.android.modules.password_manager.activities.ViewSitePasswordActivity"
            android:theme="@style/CustomDialogActivity"
            android:excludeFromRecents="true"/>

        <provider
            android:name="com.tobiadeyinka.me.android.database.content_providers.FinanceAccountsProvider"
            android:authorities="com.tobiadeyinka.me.android.database.content_providers.financeaccountsprovider"
            android:enabled="true"
            android:exported="false"
            android:multiprocess="true" />

        <provider
            android:name="com.tobiadeyinka.me.android.database.content_providers.FinanceEntriesProvider"
            android:authorities="com.tobiadeyinka.me.android.database.content_providers.financeentriesprovider"
            android:enabled="true"
            android:exported="false"
            android:multiprocess="true" />

        <provider
            android:name="com.tobiadeyinka.me.android.database.content_providers.SitePasswordsProvider"
            android:authorities="com.tobiadeyinka.me.android.database.content_providers.sitepasswordsprovider"
            android:enabled="true"
            android:exported="false"
            android:multiprocess="true" />

    </application>

</manifest>
